<launch>
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
    <remap from="/scan" to ="/jaime/xbox_kinetic/scan"/>
    <rosparam>
      maxUrange: 28
      base_frame: jaime_tf/base_link
      odom_frame: jaime_tf/odom
      map_update_interval: 0.15
      minimumScore: 250        <!-- poner mas de 600 que tan bueno es el escaneo laser-->
      linearUpdate: 0.5
      angularUpdate: 0.218
      temporalUpdate: 0.5
      xmin: -20
      ymin: -20
      xmax: 20
      ymax: 20
      maxRange: 30
      particles: 200
      iterations: 10
      srr: 0.01
      srt: 0.02
      str: 0.01
      stt: 0.02
      delta: 0.02
    </rosparam>
  </node>
</launch>
