<launch>

	<!-- Unused: Only for robot/gazebo/stage compatibility -->
	<arg name="gui"        default="THIS-PARAM-SHOULD-NOT-BE-USED"/>
	<arg name="model_type" default="jaime_realsense" />
	<arg name="rqt_gui"    default="THIS-PARAM-SHOULD-NOT-BE-USED" />
	<arg name="worldname"  default="THIS-PARAM-SHOULD-NOT-BE-USED"/>

	<!-- Parameters for the realsense_launcher -->
	<arg name="serial_no"           default="935322071643"/>
	<arg name="tf_prefix"           default="jaime_tf"/>
	
	<!-- - - - - - - ROBOT - - - - - -  -->

	<!-- transforms -->
    <group ns="jaime">    
	
        <include file="$(find jaime_description)/launch/load_model.launch">
            <arg name="model_type" value="$(arg model_type)"/>
        </include>
	<node pkg="robot_state_publisher" type="robot_state_publisher" 
          name="robot_state_publisher" output="screen"/>        
	<param name="tf_prefix" value="jaime_tf" />
        <!--Kobuki -->
        <include file="$(find kobuki_node)/launch/minimal.launch">
		<param name="tf_prefix" value="jaime_tf" />
	</include>

        <include file="$(find jaime_joy)/launch/joysticks.launch"/>
        <include file="$(find uchile_cmd_vel_mux)/launch/mux_jaime.launch"/>
	<!--<include file="$(find arduino_controller)/launch/arduino_controller.launch"/> -->
	<include file="$(find realsense2_camera)/launch/rs_camera.launch">
	  <arg name="tf_prefix"                value="$(arg tf_prefix)/camera"/>	
	  <arg name="serial_no"                value="$(arg serial_no)"/>
	</include>  
    </group>
	<include file="$(find uchile_tf)/launch/transformers.launch"/>
	<!--<include file="$(find uchile_safety)/launch/safety_jaime.launch"/>-->

	<include file="$(find arduino_controller)/launch/arduino_controller.launch"/>
	<include file="$(find battery_info)/launch/battery.launch"/>

	

	<include file="$(find jaime_bringup)/launch/safety_layer.launch"/>




</launch>
